/*gråfärg #F4F4F4 kan användas till svart text och en stark kontrastfärg, typ blå. eller som i
detta exempel rosa medium.muz.li/design-docs-6bb34589f7a9 . */

/*-----Global styles -----*/
:root {
  font-size: 10px;
}

html,
body {
  font-family: 'roboto', 'sans-serif';
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

h1 {
  font-size: 37px;
  font-weight: 300;
}
h2 {
  font-size: 28px;
  font-weight: 300;
}
h3 {
  font-size: 21px;
  font-weight: 300;
}

.container {
  width: 1200px;
  max-width: 94%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 auto;
  overflow: hidden;
}

.hero {
  height: 100vh;
}

.hero_text {
  padding-left: 200px;
  margin-top: 19vh;
  margin-bottom: 11vh;

  h1 {
    margin: 0 0 50px -7px;
    padding: 0;
    font-size: 100px;
    font-weight: 300;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 18px;
    max-width: 650px;
    letter-spacing: 0.6px;
    line-height: 32px;
  }
}
.hero_arro {
  margin: 10px;
  height: 140px;
  width: 140px;
  position: absolute;
  display: block;
  left: 0;
  z-index: 9;
  overflow: hidden;
}
.hero_arrow_wrap {
  overflow: hidden;
  padding-top: calc(15px - 0px);
  position: absolute;
  height: calc(100% - 20px);
}
svg {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg); /* Standard syntax */
}
.logo_wrapper {
  text-align: left;
  margin-right: -20px;

  h3 {
    margin-top: 0px;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -2px;
    position: absolute;
    left: 5%;
    fill: #020203;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: translateX(-100%) rotate(-90deg);
    transform: translateX(-100%) rotate(-90deg);
    -webkit-transition: fill 0.4s ease-in-out,
      margin 0.4s cubic-bezier(0.49, 0.12, 0, 1.02);
    transition: fill 0.4s ease-in-out,
      margin 0.4s cubic-bezier(0.49, 0.12, 0, 1.02);
  }
  a {
    text-decoration: none !important;
    font-weight: 300;
  }
}

header {
  background: #fff;
  &.container {
    padding-top: 63px;
    padding-bottom: 150px;
  }
}

#main_nav {
  text-align: left;
  background-color: fff;
  padding-left: 200px;
  display: flex;
  a {
    color: black;

    font-weight: 300;
    font-size: 16px;
    text-decoration: none !important;
    margin-left: 20px;
  }
}
.menu_wrapper {
  display: flex;
  justify-content: space-between;
}

.mail_adress {
  color: #656565;
  letter-spacing: 0.9px;
  font-weight: 300;
  font-size: 13px;
  text-decoration: none !important;
  margin-left: 20px;
  line-height: 20px;
}
#main_nav a:first-child {
  margin-left: 0px;
}
/*
.introText {
  padding-top: 30vh;
  text-align: left;

  h1 {
    font-size: 4rem;

    font-weight: 700;
    color: #a3c0be;
  }
  p {
    margin-top: 25px;

    font-weight: 300;
  }
}
*/
.se_mer_link {
  text-align: right;
  margin-top: 50px;
  max-width: 650px;
  font-size: 18px;
  font-weight: 700;
  a {
    color: #020203;
    text-decoration: none;
  }
  a:hover {
    background: #020203;
    opacity: 0.1;
  }
}
#logo a {
  text-decoration: none !important;
}

/* Card style*/
.card {
  position: relative;
  max-width: 100%;
  background: #fff;

  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  //max-width: calc(50% - 24px);
  margin-top: -80px;
  margin-right: 5%;
  margin-left: 5%;
  .card-content {
    width: 90%;
    margin: 0 auto;
  }

  h1 {
    margin-bottom: -15px;
    font-weight: 300;
  }
  h2 {
    display: inline;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  p {
    padding-right: 10px;
    width: 100%;
    line-height: 26px;
  }
}

/* Nya enskild post*/
.post {
  .gatsby-image-wrapper {
    // display: block;
    max-height: 506px;
    width: 82%;
    margin: 0 0 0 auto;
  }
  .post-card {
    position: relative;
    max-width: 100%;
    width: 60%;
    background: #fff;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: space-between;
    margin-top: -80px;
    //   margin-right: 5%;
    margin-left: 100px;
    overflow-y: visible;
  }
  h1 {
    margin-bottom: -14px;
  }
  .article-intro {
    margin-left: 0px;
    border-left: 1px solid #333;
    padding-left: 3%;
    text-align: left;
    p {
    }
  }
  article {
    .post_content {
      text-align: left;
    }
    .post_content {
      blockquote {
        border-left: 1px solid #333;
        padding-left: 3%;
      }
    }
  }
}

.post-list {
  padding-left: 100px;
  .gatsby-image-wrapper {
    height: 350px !important;
  }
  .lab-post {
    width: 500px;
    margin-bottom: 100px;
    img {
      flex: 1;
    }
  }
}

/*Enskild post*/
/*
.post-card {
  position: relative;
  max-width: 100%;
  width: 60%;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  justify-content: space-between;
  margin-top: -80px;
  margin-right: 5%;
  margin-left: 200px;
}
.post {
  .gatsby-image-wrapper {
    max-height: 506px;
    width: 100%;
    margin-left: 320px;
    width: 83%;
    margin: 0 0 0 auto;
  }

  article {
    text-align: left;
    .post_content {
      width: 80%;
      //max-width: 500px;
      //display: block;
      //margin: 0 calc(8% + 32px) 36px 300px;
      // margin: 0px calc(0% + 0px) 36px 300px;
      font-weight: 300;
      overflow-x: hidden;
      font-size: 16px;
      line-height: 26px;
    }
  }
  .container {
    overflow-x: hidden;
  }
}
.container_post_page {
  max-width: 1200px;
  margin: 0 auto;
  .row {
    margin: 0;
  }
}
ul {
  list-style-type: none;
  li {
    font-weight: 300;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 27px;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    margin-right: 30px;
  }
}
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .post {
    .card {
      width: 80%;
      max-width: 100%;
      margin: -62px auto 33px calc(0% + 0px);
      margin-top: 0;
      h2 {
        font-size: 1.4em;
      }
    }
  }
  .mail_adress {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .post {
    .post-card {
      width: 80%;
      max-width: 100%;
      margin: 0px;
      margin-top: 0;
    }
    h2 {
      font-size: 1.6em;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #main_nav a {
    margin-left: 0px;
  }
  .mobile-nav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 80vh;
    z-index: 1;
    transition: 0.5s;
    .ul {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: translate(-50%, -50%);
      a {
        display: block;
        font-size: 50em;
        padding: 2rem;
        text-align: left;
      }
    }
  }
  .active {
    left: 0;
    overflow: auto;
    background-color: #fff;
  }
  .main_nav_wrapper {
    // padding-left: 2%;
  }

  .post {
    .gatsby-image-wrapper {
      width: 100%;
      max-height: 300px;
      margin-left: 0;
    }
    .post-card {
      width: 80%;
      max-width: 100%;
      margin: 0px;
      margin-top: 0;
    }
  }

  .hero_text {
    margin-top: 11vh;
    margin-bottom: 7vh;
    padding-left: 4%;

    h1 {
      margin-bottom: 30px;
      font-size: 40px;
      margin: 0 0 50px 0px;
    }
    h2 {
      text-align: left;
      font-size: 14px;
      width: 100%;
      letter-spacing: 0.6px;
      line-height: 25px;
    }
  }
  .post-list {
    //padding-left: 4%;
    outline: 1px solid red;
  }
  .hero_arrow_wrap {
    display: none;
  }
  section.post-list.row {
    padding: 0;
  }
  #logo {
    right: 30px;
    left: auto;
    -webkit-transform: none;
    transform: none;
    top: 48px;
    cursor: pointer;
    font-size: 34px;

    fill: #020203;
  }
  .mail_adress {
    display: none;
  }
  #main_nav {
    text-align: left;
    background-color: fff;
    padding-left: 5%;
  }
  #logo {
    top: 10%;
    font-size: 24px;
  }
  .card {
    .card-content {
      width: 90%;
    }
  }

  .toggle {
    z-index: 2;
    position: absolute;
    left: 5%;
    top: 10%;
    cursor: pointer;
    overflow: hidden;

    .btn-line {
      width: 28px;
      height: 3px;
      margin-top: 5px;
      background: #000;
    }

    //Rotate Into X with Menu Lines
    &.close {
      .btn-line {
        //Line 1 Rotate
        &:nth-child(1) {
          background: #a3c0be;
          transform: translate(0px, 8px) rotate(45deg);
          transition: transform 0.2s ease-in-out;
        }
        //Line 2 hide
        &:nth-child(2) {
          opacity: 0;
        }
        //Line 3 Rotate
        &:nth-child(3) {
          background: #a3c0be;
          transform: translate(0px, -8px) rotate(-45deg);
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .post {
    .gatsby-image-wrapper {
      margin-left: 0;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (max-width: 1200px) {
  }

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}
/*
    .card h2{
    display: inline;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0px;
    }

    .card h1 {
    margin-bottom: 0;
    font-weight: 300;
}

h1 {
    font-size: 25px;
}

.card .card-content {
    width: 92%;
    margin: 0 auto;
}

.card {
    position: relative;
    max-width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: space-between;
    margin-top: -80px;
    margin-right: 4%;
    margin-left: 4%;

*/
